.under-c{
    padding: 4vw 0vw;
    background-color: #544889; color: aliceblue;
    width: 100%;
    height: 40vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; align-items: center;
}
@media screen and (max-width: 768px) {
    .under-c{
        height: 80vw;
    }
}
    


.apply-button{
    height: 44px; width: 312px
}