.under-c{
    padding: 4vw 0vw;
    background-color: #544889; color: aliceblue;
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; align-items: center;
}

.apply-button{
    height: 44px; width: 312px
}